{% extends "base.html" %}

{% block title %}
Проєкти {{ profile.user.username }}
{% endblock %}

{% block content %}

<h1 class="mb-4">
    <i class="bi bi-person-workspace"></i>
    Проєкти користувача {{ profile.user.username }}
</h1>

<div class="row g-4">
    {% for project in projects %}
        <div class="col-md-4">
            <div class="card h-100 border-primary">
                <div class="card-body">
                    <h5 class="card-title">{{ project.title }}</h5>
                    <p class="card-text">
                        {{ project.description|truncatechars:100 }}
                    </p>
                </div>

                <div class="card-footer text-end">
                    <a href="{% url 'project_detail' project.pk %}"
                       class="btn btn-sm btn-primary">
                        Переглянути
                    </a>
                </div>
            </div>
        </div>
    {% empty %}
        <p>У користувача ще немає проєктів.</p>
    {% endfor %}
</div>

{% endblock %}
