{% extends "base.html" %}

{% block content %}
<h1 class="mb-4">{{ announcement.title }}</h1>
<p class="text-muted">Опубліковано: {{ announcement.created_at|date:"d.m.Y H:i" }} | Оновлено: {{ announcement.updated_at|date:"d.m.Y H:i" }} | Автор: {{ announcement.author }}</p>                      
{% if announcement.image %}
    <img src="{{ announcement.image.url }}" alt="{{ announcement.title }}" class="img-fluid mb-4">
{% endif %}
<div class="announcement-content">
    {{ announcement.content|linebreaks }}
</div>                          

{% endblock %}