{% extends 'base.html' %}

{% block content %}

<h2>{{ polling.question }}</h2>

{% if error_message %}
    <p class="text-danger"><strong>{{ error_message }}</strong></p>
{% endif %}

{% if polling.status == 'active' %}
<form method="post">
    {% csrf_token %}
    {% if not is_voted %}
    {% for choice in polling.choices.all %}
        <div class="form-check">
            <input
                class="form-check-input"
                type="radio"
                name="choice"
                id="choice{{ forloop.counter }}"
                value="{{ choice.id }}"
            >
            <label class="form-check-label" for="choice{{ forloop.counter }}">
                {{ choice.text }}
            </label>
        </div>
    {% endfor %}
    <button type="submit" class="btn btn-primary mt-3">
        Проголосувати
    </button>
      {% else %}
            <p><strong>Ви вже проголосували в цьому опитуванні.</strong></p>
        {% endif %}
</form>
{% else %}
    <p><strong>Опитування недоступне для голосування.</strong></p>
{% endif %}

<hr>

<h4>Результати:</h4>

<ul>
    {% for r in results %}
        <li>
            {{ r.text }} — {{ r.votes }} голосів ({{ r.percent }}%)
        </li>
    {% empty %}
        <li>Ще немає голосів</li>
    {% endfor %}
</ul>

{% endblock content %}
