{% extends 'base.html' %}

{% block title %}Forum Topics{% endblock %}

{% block content %}
<div class="forum-wrapper">

    <h1 class="forum-title">💬 Теми форуму</h1>

    <ul class="topic-list">
        {% for topic in topic_list %}
            <li class="topic-card">
                <div class="topic-main">
                    <span class="topic-name">
                        {{ topic.title }}
                    </span>
                </div>

                <div class="topic-meta">
                    🕒 {{ topic.created_at|date:"d.m.Y H:i" }}
                </div>
            </li>
        {% empty %}
            <li class="topic-empty">
                Поки що немає жодної теми
            </li>
        {% endfor %}
    </ul>
<h1>{{ topic.title }}</h1>



{% endblock %}

